<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>

    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatem. Soluta nam consequuntur aliquid id commodi hic, quidem neque natus dolores dolorum reprehenderit rerum quod voluptates temporibus assumenda aspernatur quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, odit earum suscipit natus eaque ea blanditiis quo officia quis expedita dolorem! Magni illo laudantium praesentium? Consectetur omnis nihil optio sint.</p>

</body>
</html>